#include "resource.h"
#include "WinResrc.h"

#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 3,5,0,2046
 PRODUCTVERSION 3,5,0,2046
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "CompanyName", "dynaTrace software GmbH"
            VALUE "FileDescription", "dynaTrace PlugIn for SilkPerformer"
            VALUE "FileVersion", "3.5.0.2046 "
            VALUE "InternalName", "dynaTrace PlugIn"
            VALUE "LegalCopyright", "Copyright (C) 2004-2010"
            VALUE "OriginalFilename", "perfPIdynaTrace.dll"
            VALUE "ProductName", "dynaTrace Dynamic Link Library"
            VALUE "ProductVersion", "3.5.0.2046"
            VALUE "BuildDate", "2010.04.09 10:13"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END

IDI_DTDICON16             ICON                    "images\dynaTrace16.ico"
IDI_DTDICON32             ICON                    "images\dynaTrace32.ico"

		