#include "resource.h"
#include "WinResrc.h"

#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 7,0,8,1007
 PRODUCTVERSION 7,0,8,1007
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "CompanyName", "Dynatrace Software GmbH"
            VALUE "FileDescription", "Dynatrace Plugin for SilkPerformer"
            VALUE "FileVersion", "7.0.8.1007"
            VALUE "InternalName", "Dynatrace Plugin"
            VALUE "LegalCopyright", "Copyright (C) 2004-2017"
            VALUE "OriginalFilename", "perfPIdynaTrace.dll"
            VALUE "ProductName", "Dynatrace SilkPerformer Plugin Dynamic Link Library"
            VALUE "ProductVersion", "7.0.8.1007"
            VALUE "BuildDate", "2017.09.19 13:29"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END

IDI_DTDICON16             ICON                    "..\\images\\dynatrace-16x16.ico"
IDI_DTDICON32             ICON                    "..\\images\\dynatrace-32x32.ico"

		